/* здесь используйте глобальные переменные */
:root {
  --basic-font-family: "Lato", sans-serif;
  --title-font-family: "Oswald", sans-serif;
  --accent-background-1: #68B738;
  --accent-background-2: rgba(105, 183, 56, 0.85);
  --basic-background-1: #ffffff;
  --basic-background-2: #f2f2f2;
  --text-color-1: #444444;
  --text-color-2: #111111;
  --title-color: #000000;
  --text-color-background: #ffffff;
  --icon-background: #68B738;
  --icon-color-1: #000000;
  --icon-color-2: #666666;
  --icon-color-3: #ffffff;
  --button-background: #68B738;
  --button-color: #ffffff;
}
