.additional {
  overflow: hidden;
}

.additional__container {
  padding-top: 25px;
}

.additional__title {
  margin-bottom: 35px;
}

.additional__list {
  margin: 0 0 34px;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  padding: 13px 0 18px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__item-title {
  margin-bottom: 13px;
  text-transform: uppercase;
  color: var(--text-color-3, #222222);
}

.additional__definition {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;
}

.additional__description {
  margin: 0;
}

.additional__button {
  width: 100%;
  padding: 10px 26px;
  box-sizing: border-box;
}
