.banner {
  padding: 59px 58px 43px;
  text-align: center;
  color: var(--text-color-background, #ffffff);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #65a73c;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 81px;
    margin: 0 auto 47px;
    background-color: var(--icon-color-3, #ffffff);
    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.banner--gift {
  background-image: linear-gradient(to right, var(--accent-background-2, rgba(105, 183, 56, 0.85)), var(--accent-background-2, rgba(105, 183, 56, 0.85))), url("../../images/banner-gift/banner-background@1x.png"), linear-gradient(to right, #4d4c52, #434248);

  &::before {
    mask-image: url("../../icons/stack.svg#gift");
  }
}

.banner__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.banner__text-block {
  display: block;
}
