.before-after {
  --value: 50%;
  position: relative;
  width: 280px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $min-md) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $min-xl) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.before-after__images {
  position: absolute;
  top: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;

  &--before {
    left: 0;
    width: var(--value);
    object-position: left;
  }

  &--after {
    right: 0;
    width: calc(100% - var(--value));
    object-position: right;
  }
}
