.button {
  display: inline-block;
  appearance: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  border: 0;

  &--submit {
    background-color: var(--button-background-submit, #68b738);
    color: var(--button-color, #ffffff);
  }

  &--second {
    background-color: var(--button-background-second, #f2f2f2);
    color: var(--button-color-second, #444444);
  }

  &--icon {
    background-color: transparent;
    color: inherit;
  }
}

.button::before {
  content: "";
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}
