.catalog-card {
  padding: 20px $container-offset 24px;

  @media (max-width: $max-md) {
    display: grid;
    grid-template: "product title" "product definition" 1fr "button button" / 1fr 1fr;
    border-top: 1px solid #ebebeb;

    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
  }

  @media (min-width: $min-md) {
    position: relative;
    padding: 20px 37px 40px;

    &::after {
      content: "";
      position: absolute;
      inset: 91px 0 0;
      background-color: var(--second-background, #f2f2f2);
      z-index: -1;
    }
  }
}

.catalog-card__product {
  display: grid;
  height: 107px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $max-md) {
    grid-area: product;
  }

  @media (min-width: $min-md) {
    width: 200px;
    height: 210px;
    margin: 0 auto 23px;
  }

  & picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.catalog-card__link {
  margin-bottom: 14px;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $max-md) {
    grid-area: title;
    max-width: 95px;
  }

  @media (min-width: $min-md) {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto 14px;
    text-align: center;
  }
}

.catalog-card__title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--text-color-2, #111111);

  @media (max-width: $max-md) {
    padding-top: 2px;
  }

  @media (min-width: $min-md) {
    line-height: 24px;
  }
}

.catalog-card__title--more {
  max-width: none;
  margin-bottom: 8px;

  @media (min-width: $min-md) {
    max-width: 150px;
    margin: 0 auto 21px;
  }
}

.catalog-card__definition-list {
  @media (max-width: $max-md) {
    grid-area: definition;
  }
}

.catalog-card__button {
  width: 100%;
  margin-top: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media (max-width: $max-md) {
    grid-area: button;
  }

  @media (min-width: $min-md) {
    margin-top: 33px;
    font-size: 16px;
    line-height: 20px;
  }

  &::before {
    display: none;
  }

  &--more {
    margin-top: 0;
  }
}

.catalog-card--more {
  display: block;
  padding-top: 25px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 22px;
    background-color: #d3d3d3;
    mask-image: url("../../icons/stack.svg#plus");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $min-md) {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $min-md) {
    padding-top: 143px;

    &::after {
      top: 92px;
      background-color: transparent;
      border: 2px solid var(--second-background, #f2f2f2);
    }
  }
}

.catalog-card__more-text {
  margin: 0 auto 20px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $min-md) {
    max-width: 170px;
    margin-bottom: 83px;
    font-size: 16px;
    line-height: 18px;
  }
}
