.catalog-card__link {
  text-decoration: none;
}

.catalog-card__title {
  text-transform: uppercase;
  color: #222222;
}

.catalog-card__more-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
