.example-list {
  margin: 0 0 19px;
  display: grid;
  gap: 0 33px;
  place-items: start center;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.example-list__item {
  $border-color-example: #cdcdcd;
  $border-width-example: 1px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  max-width: 124px;
  padding: 13px 18px;
  text-align: center;
  border-top: $border-width-example solid $border-color-example;
  border-radius: 3px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: calc(-1 * $border-width-example);
    left: 0;
    height: 55px;
    width: 17px;
    border: $border-width-example solid $border-color-example;
    border-top: 0;
    border-right: 0;
    border-radius: 3px 0 0 3px;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(-1 * $border-width-example);
    height: 55px;
    right: 0;
    width: 18px;
    border: $border-width-example solid $border-color-example;
    border-top: 0;
    border-left: 0;
    border-radius: 0 3px 3px 0;
  }
}

.example-list__term {
  font-size: 12px;
  line-height: 1;
  max-width: 80px;
  margin-right: auto;
  margin-left: auto;
}

.example-list__description {
  margin: 0 0 1px;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  color: var(--title-color, #000000);
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example-list__item-string {
  display: flex;
  gap: 6px;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--title-color, #000000);
  text-transform: uppercase;
  text-align: center;
  grid-column: 1 / -1;
  margin-top: 6px;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    flex-direction: column;
    align-items: flex-end;
    grid-column: auto;
    margin-top: 0;
  }
}

.example-list__description-string {
  margin: 0;
}
