.example-list {
  margin: 0 0 19px;
  display: grid;
  gap: 20px 33px;
  place-items: start center;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    grid-template-columns: auto auto 1fr;
  }

  @media (min-width: $min-md) {
    gap: 20px 44px;
    margin-bottom: 98px;
  }

  @media (min-width: $min-xl) {
    max-width: 365px;
    gap: 55px 43px;
    margin-bottom: 0;
  }
}

.example-list__item {
  $border-color-example: #cdcdcd;
  $border-width-example: 1px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "before description after" "before term after";
  width: 100%;
  max-width: 124px;
  text-align: center;
  border-top: $border-width-example solid $border-color-example;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $min-md) {
    min-width: 161px;
    grid-template-columns: 1fr auto 1fr;
  }

  &::before {
    grid-area: before;
    content: "";
    display: block;
    top: calc(-1 * $border-width-example);
    left: 0;
    height: calc(100% - 16px);
    width: 100%;
    min-width: 17px;
    border: $border-width-example solid $border-color-example;
    border-top: 0;
    border-right: 0;
    border-radius: 3px 0 0 3px;

    @media (min-width: $min-md) {
      height: calc(100% - 7px);
      min-width: 8px;
    }
  }

  &::after {
    grid-area: after;
    content: "";
    display: block;
    top: calc(-1 * $border-width-example);
    height: calc(100% - 16px);
    right: 0;
    width: 100%;
    min-width: 18px;
    border: $border-width-example solid $border-color-example;
    border-top: 0;
    border-left: 0;
    border-radius: 0 3px 3px 0;

    @media (min-width: $min-md) {
      height: calc(100% - 7px);
      min-width: 8px;
    }
  }
}

.example-list__term {
  grid-area: term;
  max-width: 80px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;

  @media (min-width: $min-md) {
    max-width: none;
    width: 100%;
    font-size: 14px;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
  }
}

.example-list__description {
  grid-area: description;
  margin: 13px 0 9px;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  color: var(--title-color, #000000);
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $min-md) {
    margin: 15px 0 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example-list__item-string {
  display: flex;
  gap: 6px;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--title-color, #000000);
  text-transform: uppercase;
  text-align: center;
  grid-column: 1 / -1;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    flex-direction: column;
    align-items: flex-end;
    grid-column: auto;
    margin-top: 12px;
    margin-left: auto;
  }

  @media (min-width: $min-md) {
    gap: 8px;
    font-size: 20px;
  }

  @media (min-width: $min-xl) {
    margin-right: auto;
    justify-content: space-between;
    width: 100%;
    max-width: 327px;
  }
}

.example-list__description-string {
  margin: 0;
}
