.header__container {
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: 1220px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
