.hero-index {
  padding-top: 0;
  position: relative;

  @media (min-width: $min-xl) {
    min-height: 521px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50%;
      height: 200%;
      background-color: #65a73c;
      background-image: linear-gradient(to right, var(--accent-background-2, rgba(105, 183, 56, 0.85)), var(--accent-background-2, rgba(105, 183, 56, 0.85))), url("../../images/hero-index/hero-background@desktop@1x.jpg"), linear-gradient(to right, #4d4c52, #434248);
      background-repeat: no-repeat;
      background-position: center, left bottom, center;
      z-index: -2;
    }
  }

  @media (min-width: 2082px) {
    &::after {
      background-position: right bottom;
    }
  }
}

.hero-index__container {
  padding-bottom: 20px;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    box-sizing: border-box;
  }

  @media (min-width: $min-md) {
    max-width: $max-width-container;
    margin: 0 auto;
    padding: 35px $container-offset 0 $container-offset-tablet;
    display: grid;
  }

  @media (min-width: $min-xl) {
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.hero-index__hgroup {
  @media (max-width: $max-md) {
    @include container($max-width-container, $container-offset, $container-offset-tablet, $container-offset-desktop, $min-md, $min-xxl);
    padding-top: 27px;
    padding-bottom: 164px;
    box-sizing: border-box;
    min-height: 302px;
    background-color: #65a73c;
    background-image: linear-gradient(to right, var(--accent-background-2, rgba(105, 183, 56, 0.85)), var(--accent-background-2, rgba(105, 183, 56, 0.85))), url("../../images/hero-index/hero-background@1x.jpg"), linear-gradient(to right, #4d4c52, #434248);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -135px;
  }

  @media (min-width: $min-md) {
    max-width: 500px;
    margin-left: 90px;
  }

  @media (min-width: $min-xl) {
    margin-bottom: 53px;
    margin-left: 75px;
  }
}

.hero-index__title {
  @media (max-width: $max-md) {
    text-align: center;
    color: var(--text-background-color, #ffffff);
  }
}

.hero-index__subtitle {
  margin: 0;

  @media (max-width: $max-md) {
    text-align: center;
    color: var(--text-background-color, #ffffff);
  }
}

.hero-index__picture {
  position: relative;
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $min-md) and (max-width: $max-xl) {
    order: 2;
  }

  @media (min-width: $min-md) {
    width: 703px;
    height: 609px;
    margin-top: -32px;
    margin-bottom: 0;
    z-index: -1;

    @media (max-width: $max-xl) {
      transform: translateX(-8px);
    }
  }

  @media (min-width: $min-xl) {
    grid-row: 1 / 3;
    grid-column-start: 2;
    width: 552px;
    height: 499px;
    margin: -80px 0 0 -168px;
  }

  & img {
    display: block;
    object-fit: contain;
    width: 280px;
    height: 270px;
    margin: 0 auto;

    @media (min-width: $min-md) {
      width: 709px;
      height: 609px;
      max-width: 709px;
    }

    @media (min-width: $min-xl) {
      max-width: 100%;
      width: 552px;
      height: 499px;
    }
  }
}

.hero-index__button {
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  padding-top: 11px;
  padding-bottom: 9px;
  box-sizing: border-box;
  z-index: 0;

  @media (max-width: $max-md) {
    width: 100%;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $min-md) and (max-width: $max-xl) {
    bottom: -51px;
  }

  @media (min-width: $min-md) {
    margin-left: 90px;
    padding: 15px 27px 13px;
  }

  @media (min-width: $min-xl) {
    margin-left: 75px;
  }
}
