.how-work {
  @media (min-width: $min-md) and (max-width: $max-xl) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.how-work__container {
  padding-bottom: 49px;

  @media (min-width: $min-md) {
    padding-top: 23px;
    padding-bottom: 103px;
  }

  @media (min-width: $min-xl) {
    padding-top: 48px;
  }
}

.how-work__title {
  margin-bottom: 42px;

  @media (min-width: $min-md) {
    margin-bottom: 32px;
  }
}

.how-work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;

  @media (min-width: $min-md) {
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    counter-reset: item;
    gap: 94px 59px;
  }

  @media (min-width: $min-xl) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.how-work__item {
  --size-icon: 60px;
  --top-icon: 0;
  position: relative;
  min-height: var(--size-icon, 60px);
  padding-top: 3px;
  padding-left: 80px;
  box-sizing: border-box;

  @media (min-width: $min-md) {
    --size-icon: 80px;
    --top-icon: 40px;
    padding-left: 0;

    &::after {
      position: absolute;
      min-width: 127px;
      right: 0;
      bottom: -57px;
      font-family: var(--title-font-family, "Oswald"), sans-serif;
      color: var(--second-background, #f2f2f2);
      font-size: 280px;
      line-height: 1;
      z-index: -1;
      counter-increment: item;
      content: counter(item);

    }

    @media (min-width: $min-xl) {
      &::after {
        min-width: 127px;
      }
    }
  }


  &::before {
    content: "";
    position: absolute;
    top: var(--top-icon, 0);
    left: 0;
    width: var(--size-icon, 60px);
    height: var(--size-icon, 60px);
    background-color: var(--icon-background, #68b738);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 31px;
  }

  &--contains::before {
    background-image: url("../../icons/stack.svg#how-work__contains");
  }

  &--released::before {
    background-image: url("../../icons/stack.svg#how-work__released");
  }

  &--replace::before {
    background-image: url("../../icons/stack.svg#how-work__replace");
  }

  &--results::before {
    background-image: url("../../icons/stack.svg#how-work__results");
  }
}

.how-work__text {
  margin: 0;

  @media (min-width: $min-md) {
    margin-top: 148px;
    max-width: 265px;
  }
}
