.logo-center {
  width: fit-content;
  margin: 0 auto;
  display: block;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  & img {
    display: block;
  }
}
