.program-card {
  position: relative;
  padding: 21px 20px 4px;
  background-color: var(--second-background, #f2f2f2);

  @media (min-width: $min-md) {
    padding: 77px 316px 53px 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--icon-background, #68b738);

    @media (min-width: $min-md) {
      width: 200px;
      height: 200px;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      right: 63px;
    }
  }

  &::after {
    content: "";
    top: 21px;
    left: 12px;
    position: absolute;
    width: 67px;
    height: 50px;
    background-color: var(--icon-color-1, #000000);
    mask-position: center bottom;
    mask-repeat: no-repeat;

    @media (min-width: $min-md) {
      width: 268px;
      height: 194px;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
    }
  }

  &--slim::after {
    mask-image: url("../../icons/stack.svg#program__slim");
  }

  &--fat::after {
    top: 24px;
    mask-image: url("../../icons/stack.svg#program__fat");
  }
}

.program-card__title {
  margin-bottom: 30px;

  @media (max-width: $max-md) {
    margin-left: 70px;
    margin-top: 8px;
  }
}

.program-card__text {
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 4px;
}

.program-card__button {
  padding-left: 0;
}
