.subscription {
  overflow: hidden;
}

.subscription__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscription__title {
  margin-bottom: 33px;
}

.subscription__subtitle {
  text-align: center;
  margin: 0 30px 23px;
  font-size: 16px;
  line-height: 24px;
}

.subscription__input {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.subscription__button {
  width: 100%;
  box-sizing: border-box;
}
