.title {
  margin-top: 0;
  margin-bottom: 0.67em;
  font-family: var(--title-font-family, "Oswald"), sans-serif;
  color: var(--title-color, #000000);
  font-weight: 400;

  &--big {
    font-size: 36px;
    line-height: 1;

    @media (min-width: $min-md) {
      font-size: 60px;
    }
  }

  &--medium {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;

    @media (min-width: $min-md) {
      font-size: 36px;
      line-height: 1;
    }
  }

  &--small {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $min-md) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--smaller {
    font-size: 16px;
    line-height: 1;

    @media (min-width: $min-md) {
      font-size: 20px;
    }
  }
}

.title--line {
  position: relative;
  width: fit-content;
  margin-left: -$container-offset;
  font-size: 24px;
  line-height: 1;

  &::after {
    content: "";
    position: absolute;
    top: calc(0.5em - 2px);
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: var(--accent-background-1, #68b738);
    box-shadow: 100vw 0 0 var(--accent-background-1, #68b738);
    z-index: -1;

    @media (min-width: $min-xl) {
      top: calc(0.5em - 3px);
    }
  }

  @media (min-width: $min-md) {
    margin-left: 0;
    font-size: 32px;
  }

  @media (min-width: $min-xl) {
    margin-left: -40px;
    font-size: 40px;
  }
}

.title__text {
  padding-right: 40px;
  padding-left: $container-offset;
  background-image: linear-gradient(var(--basic-background, #ffffff), var(--basic-background, #ffffff));
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 50%;
  box-decoration-break: clone;

  @media (min-width: $min-md) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
